<form class="flex flex-col justify-start items-start w-80"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()">
  <mat-form-field class="w-full" appearance="fill">
    <mat-label *ngIf="!emailInput?.value">Email / username</mat-label>
    <input matInput required
         formControlName="username"
         [placeholder]="'PeterGriffin@hotmail.dk'"
         [formControlName]="FormControlNames.EMAIL">
  </mat-form-field>

  <mat-form-field class="w-full" appearance="fill">
    <input matInput
           placeholder="Password" [type]="hide ? 'password' : 'text'"
           [formControlName]="FormControlNames.PASSWORD"
          required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-hint *ngIf="!passwordInput?.value">Enter your password</mat-hint>
  </mat-form-field>


  <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
</form>
