<!-- Main container -->
<section class="flex flex-row w-full h-full justify-center items-center space-x-10">

  <!-- List of Shipment Detail objects -->
  <section class="flex-col flex justify-start w-1/2 h-full">

    <!--  List  -->
    <section class="w-full h-full">
      <mat-selection-list (selectionChange)="onSelectionChange($event)">
        <mat-list-option *ngFor="let detail of details; let i = index" [value]="{ detail, index: i }">
          {{ detail }}
        </mat-list-option>
      </mat-selection-list>
    </section>


    <!--  Manage actions (delete)  -->
    <section class="w-full h-fit p-2">
      <app-button class="w-full" [displayText]="'DELETE'" [color]="'red'" [disabledCheck]="isSelectedIndicesEmpty" (buttonClickEmitter)="handleDeleteDetailsClick()">

      </app-button>
    </section>


  </section>


  <!-- Create shipment details section -->
  <section class="flex-col flex items-center justify-start w-1/2 h-full">

    <app-search-select-input
      class="w-full"
      [inputFormControlName]="FormControlNames.SKU"
      [placeholder]="'ABC-12345-S-BL'"
      [inputFormGroup]="formGroup"
      [displayValueProperty]="'value'"
      [searchValueProperty]="'value'"
      [list]="productSKUs">
    </app-search-select-input>

    <app-text-input
      class="w-full max-w-full"
      [inputFormControlName]="FormControlNames.QUANTITY"
      [inputFormGroup]="formGroup"
      [icon]="'cancel'"
      [placeholder]="'726'">
    </app-text-input>

  </section>

</section>
