<section class="flex flex-col space-y-8 w-full h-full justify-center items-center overflow-hidden" [formGroup]="shipmentCreationFormGroup">

  <section class="flex flex-row w-full h-full justify-center items-center space-x-10 overflow-hidden">

    <!-- List of Shipment Detail objects -->
    <section class="flex-col flex justify-end w-1/2 h-full">

      <!--  List  -->
      <section class="w-full h-full overflow-clip">
        <mat-selection-list class="max-h-full overflow-scroll" (selectionChange)="onSelectionChange($event)">
          <mat-list-option *ngFor="let detail of getShipmentDetailsList; let i = index" [value]="{ detail, index: i }">
            <b>SKU:</b> {{detail.ProductSKU}} <b>Quantity: </b>{{detail.Quantity}}
          </mat-list-option>
        </mat-selection-list>
      </section>


      <!--  Manage actions (delete)  -->
      <section class="w-full h-fit px-2">
        <app-button
          class="w-full"
          [displayText]="'DELETE'"
          [color]="'red'"
          [disabledCheck]="isSelectedIndicesEmpty"
          (buttonClickEmitter)="handleDeleteDetailsClick()">
        </app-button>
      </section>


    </section>


    <!-- Create shipment details section -->
    <section class="flex-col flex items-center justify-start w-1/2 h-full">

      <app-search-select-input
        class="w-full"
        [inputFormControlName]="FormControlNames.SKU"
        [placeholder]="'ABC-12345-S-BL'"
        [inputFormGroup]="shipmentDetailCreationFormGroup"
        [displayValueProperty]="'value'"
        [searchValueProperty]="'value'"
        [list]="productSKUs">
      </app-search-select-input>

      <app-text-input
        class="w-full max-w-full"
        [inputFormControlName]="FormControlNames.QUANTITY"
        [inputFormGroup]="shipmentDetailCreationFormGroup"
        [icon]="'cancel'"
        [placeholder]="'726'">
      </app-text-input>

      <section class="w-full flex px-2 h-full justify-center items-end">
        <app-button
          class="w-full"
          [displayText]="'CREATE'"
          [color]="'green'"
          [disabledCheck]="isFormValid"
          (buttonClickEmitter)="handleAddDetailsObject()">
        </app-button>
      </section>

    </section>

  </section>

  <section class="w-full h-fit">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [formControlName]="FormControlNames.DATE_RECEIVED">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year"></mat-datepicker>
      <mat-error>{{getControlErrorMessage(FormControlNames.DATE_RECEIVED,shipmentCreationFormGroup)}}</mat-error>
    </mat-form-field>
  </section>


</section>
