<!-- Main container -->
<section class="flex flex-row w-full h-full justify-center items-center space-x-8">

  <!-- List of Shipment Detail objects -->
  <section class="flex-col flex justify-start w-1/2 h-full">

    <!--  List  -->
    <section>
      <mat-selection-list>
        <mat-list-option *ngFor="let detail of details">{{detail}}</mat-list-option>
      </mat-selection-list>
    </section>


    <!--  Manage actions (delete)  -->
    <section class="w-full h-fit">
      <app-button class="w-full" [displayText]="'DELETE'" [color]="'red'">

      </app-button>
    </section>


  </section>


  <!-- Create shipment details section -->
  <section class="flex-col flex items-center justify-start w-1/2 h-full">

  </section>

</section>
