<section class="w-full h-full flex flex-col p-10 pb-5 relative">
  <button class="w-8 h-8 bg-green-800 rounded-md flex justify-center items-center absolute right-4 top-4">
    <mat-icon class="text-white">close</mat-icon>
  </button>
  <!-- Dynamic component is loaed here -->
  <section class="w-full h-full p-4">
    <ng-template #dynamicContent></ng-template>
  </section>

  <!-- Actions -->
  <section class="h-fit w-full flex flex-row justify-around space-x-10">
    <button class="bg-transparent ring-green-800 ring-1 rounded-md px-3 py-1.5 !text-green-800 uppercase font-quicksand w-full max-w-full font-black" (click)="onCancel()">Cancel</button>
    <button class="bg-green-800 px-3 py-1.5 !text-white uppercase rounded-md font-quicksand w-full max-w-full font-black" (click)="onSubmit()">Submit</button>
  </section>
</section>
