<div class="w-full h-full flex items-center justify-center">

  <section class="w-3/5 h-3/5 bg-orange-100 drop-shadow-lg flex flex-col items-center justify-end space-y-10 p-10">

    <!--  Graphic and animation  -->
    <section class="w-full h-fit flex flex-row justify-center items-center">

      <span class="text-green-800 font-quicksand font-black text-[64px] -scale-x-100">┻━┻ ︵╰(°□°╰)</span>

    </section>


    <!--  Description  -->
    <section>

      <span class="font-quicksand text-xl font-black text-green-800">Ooops, looks like this resource is not accessible</span>

    </section>

    <!--  Actions  -->
    <section class="w-full h-fit flex flex-row justify-between space-x-20 px-20">

      <button class="bg-green-800 px-3 py-1.5 !text-white uppercase rounded-md font-quicksand w-full max-w-full font-black" (click)="handleBack()">BACK</button>

      <button class="bg-green-800 px-3 py-1.5 !text-white uppercase rounded-md font-quicksand w-full max-w-full font-black" (click)="handleHome()">HOME</button>

    </section>


  </section>

</div>
