<div class="flex flex-col w-full h-full justify-start items-center">

  <section class="w-full flex justify-between flex-row h-fit">
    <ng-container *ngTemplateOutlet="tableFilter" ></ng-container>
    <ng-container *ngTemplateOutlet="actionsSection"></ng-container>
  </section>


  <!-- Table container -->
  <div class="w-full h-fit">
    <table mat-table [dataSource]="dataSource" class="font-quicksand">

      <!--   Shipment data column   -->
      <ng-container matColumnDef="dateShipped">
        <th class="font-quicksand !font-black" mat-header-cell *matHeaderCellDef> Shipment date </th>
        <td mat-cell *matCellDef="let shipment"> {{shipment.dateShipped}} </td>
      </ng-container>

      <!--   Add details action column   -->
      <ng-container matColumnDef="addShipmentDetail">
        <th mat-header-cell *matHeaderCellDef>
          <span class="font-quicksand !font-black flex w-full justify-center">Add details</span>
        </th>
        <td mat-cell *matCellDef="let shipment">
          <div class="w-full h-full flex justify-center">
            <app-icon
              matRipple
              icon="plus"
              class="p-1.5 rounded-md bg-green-800 text-white text-xl hover:brightness-125 transition-all hover:scale-110 duration-300 hover:cursor-pointer"
              (click)="handleOpenAddDetailsDialog(shipment)">
            </app-icon>
          </div>
        </td>
      </ng-container>

      <!--   Remove shipment details action column   -->
      <ng-container matColumnDef="removeShipmentDetail">
        <th mat-header-cell *matHeaderCellDef>
          <span class="font-quicksand !font-black flex w-full justify-center">Remove details</span>
        </th>
        <td mat-cell *matCellDef="let shipment">
          <div class="w-full h-full flex justify-center">
            <app-icon
              matRipple
              class="p-1.5 rounded-md bg-blue-700 text-white text-xl hover:brightness-125 transition-all hover:scale-110 duration-300 hover:cursor-pointer"
              icon="minus"
              (click)="handleOpenRemoveDetailsDialog(shipment)">
            </app-icon>
          </div>
        </td>
      </ng-container>

      <!--   View shipment details action column   -->
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef>
          <span class="font-quicksand !font-black flex w-full justify-center">Info</span>
        </th>
        <td mat-cell *matCellDef="let shipment">
          <div class="w-full h-full flex justify-center">
            <app-icon
              matRipple
              class="p-1.5 rounded-md bg-green-800 text-white text-xl hover:brightness-125 transition-all hover:scale-110 duration-300 hover:cursor-pointer"
              icon="info-circle"
              (click)="handleOpenShipmentInfoDialog(shipment)">
            </app-icon>
          </div>
        </td>
      </ng-container>

      <!--   Delete shipment action column   -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>
          <span class="font-quicksand !font-black flex w-full justify-center">Delete</span>
        </th>
        <td mat-cell *matCellDef="let shipment">
          <div class="w-full h-full flex justify-center">
            <app-icon
              matRipple
              class="p-1.5 rounded-md bg-red-600 text-white text-xl hover:brightness-125 transition-all hover:scale-110 duration-300 hover:cursor-pointer"
              icon="trash"
              (click)="handleOpenDeleteShipmentDialog(shipment)">
            </app-icon>
          </div>
        </td>
      </ng-container>

      <!-- Columns -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </div>


</div>




<ng-template #actionsSection>
  <button mat-raised-button class="!h-14" color="primary" (click)="handleOpenReceiveShipmentModal()">Receive shipment</button>
</ng-template>

<ng-template #tableFilter>
  <mat-form-field [formGroup]="tableFormGroup" appearance="outline" class="w-56">
    <input matInput type="text" placeholder="Type to filter..." [formControlName]="FormControlNames.FILTER">
    <button mat-icon-button matSuffix *ngIf="filterValue" (click)="clearFilterValue()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-icon matPrefix *ngIf="!filterValue">search</mat-icon>
  </mat-form-field>
</ng-template>
