<mat-form-field class="w-full">
  <mat-select [formControl]="getCurrentFormControl" [placeholder]="placeholder">
    <!-- place ngx-mat-select-search inside mat-option to allow opening without initial selection -->
    <mat-option>
      <ngx-mat-select-search [formControl]="searchControl" [searching]="isLoading" [placeholderLabel]="'Search...'" >
        <span ngxMatSelectNoEntriesFound>
         No entries found
        </span>
      </ngx-mat-select-search>
    </mat-option>

    <mat-option *ngFor="let option of filteredOptions | async" [value]="option[displayValueProperty]">
      {{option[displayValueProperty]}}
    </mat-option>
  </mat-select>

  <mat-error>{{getControlErrorMessage(inputFormControlName,inputFormGroup)}}</mat-error>
</mat-form-field>
