<!-- MAIN CONTAINER -->
<div class="w-full h-full flex flex-col px-10">

  <!-- Name and username -->
  <section class="flex flex-row justify-between space-x-10">

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput [formControlName]="FormControlNames.USERNAME" placeholder="Username">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <!-- Name Field -->
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [formControlName]="FormControlNames.NAME" placeholder="Name">
      <mat-icon matSuffix>badge</mat-icon>
    </mat-form-field>

  </section>
  <!-- Role and email -->
  <section class="flex flex-row justify-between space-x-10">

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <!-- Role Field -->
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="user">User</mat-option>
        <mat-option value="guest">Guest</mat-option>
        <!-- Add more roles as needed -->
      </mat-select>
      <mat-icon matSuffix>people</mat-icon>
    </mat-form-field>

  </section>

  <!-- Password fields -->
  <section class="flex flex-row justify-between space-x-10">

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" [formControlName]="FormControlNames.PASSWORD">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Confirm password</mat-label>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" [formControlName]="FormControlNames.PASSWORD_CONFIRMATION">
      <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

  </section>

</div>
